
body{
  background-image: url(/assets/img/blue-fondo.jpg);
  background-repeat: no repeat;
  background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background: linear-gradient(to bottom,darkblue,black);
    color: #ffff;
    border-bottom: 3px solid black;
}

header nav a{ 

    color: #ffff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    transition: .5px;
    border-radius: 10px;
}

.subtitulo{

    color: lightslategray;
}

h1 {
    color: #fff;
    margin: 0;
}

header {
    background-color: #333;
    padding: 10px 0;
  }

  h1 {
    color: #fff;
    margin: 0;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }

  .menu {
    display: none;
  }

  @media (max-width: 768px) {
    nav {
      display: none;
    }


  .menu {
      display: block;
    }

    .menu a {
      display: block;
      margin-bottom: 5px;
    }
  }

  .carousel-item img {
    border-radius: 15px; /* Agregar bordes redondeados */
    border: 5px solid black; /* Agregar borde negro con un grosor de 3px */
  }

  .menu a{
    text-decoration: none;
    color: white;
    
  }

  
.subencabezado{
  background-color: black;
  color: white;
  width: 40vh;
  height: 80vh;
}

.navbar bg-body-tertiary{

  margin: 0;
  padding: 0;
}


.barrasbusqueda{


  display: flex;
  justify-content: flex-start;
  background-color: white;
  
}

.gray{

  opacity: 0.5;

}

.formularioRegistro{

  width: 70%;
  align-content: center;
}

.login{

  width: 50%;
  margin-left: 15px;
  margin-top:  10px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background: linear-gradient(to bottom,black,darkblue);
  color: #ffff;
  border-bottom: 3px solid black;
  
}

.productodetalle{
  margin-top: 30px;

}

.imgproductodetalle{
  border-radius: 15px; 
    border: 10px solid black;
    margin-left: none;
}